/* Common Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Circular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    color: #484848;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}
