/* Footer Styles */
footer {
    background-color: #484848;
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Improve color contrast for better readability */
footer p {
    color: white;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    footer {
        font-size: 12px;
    }
}
