/* Common styles for filters */
.filters {
    display: flex;
    align-items: stretch;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.locations {
    border-right: none; /* No border on the first left filter */
}

/* Title styles */
h3 {
    font-weight: 600;
}

/* Subtitle styles */
h4 {
    font-weight: 400;
    font-size: 14px;
}
