.filters .locations,
.filters .amenities {
    position: relative;
}

.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
}

.filters:hover .locations .popover,
.filters:hover .amenities .popover {
    display: block;
}

.filters h2 {
    font-size: 16px;
    margin-bottom: 0;
}

.filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filters ul li {
    padding: 8px;
    cursor: pointer;
}

.filters ul li:hover {
    background-color: #DDDDDD;
}
